# **Assignment - 1**

Name: Priyanshu Pattanaik <br>
Register Number: 21BCE1784 <br>
Email ID: priyanshu.pattanaik2021@vitstudent.ac.in <br>
Campus: VIT Chennai <br>
Branch: B. Tech - Computer Science and Engineering <br>

## **Task 1**
Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [1]:
import pandas as pd
data = {
    'Name': ['Alice', 'Praful', 'Curry', 'C0M', 'Emma', 'Frank', 'Grace', 'Helen', 'Rahul', 'Joanna'],
    'Age': [25, 32, 19, 45, 28, 31, 22, 38, 29, 27],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F'],
    'Nationality': ['USA', 'India', 'UK', 'Australia', 'Germany', 'France', 'Japan', 'Brazil', 'India', 'South Africa'],
    'Language': ['English', 'Hindi', 'English', 'English', 'German', 'French', 'Japanese', 'Portuguese', 'Hindi', 'English']
}
df = pd.DataFrame(data)
df

     Name  Age Gender   Nationality    Language
0   Alice   25      F           USA     English
1  Praful   32      M         India       Hindi
2   Curry   19      M            UK     English
3     C0M   45      M     Australia     English
4    Emma   28      F       Germany      German
5   Frank   31      M        France      French
6   Grace   22      F         Japan    Japanese
7   Helen   38      F        Brazil  Portuguese
8   Rahul   29      M         India       Hindi
9  Joanna   27      F  South Africa     English

## **Task 2**
Check the info of 'df'

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         10 non-null     object
 1   Age          10 non-null     int64
 2   Gender       10 non-null     object
 3   Nationality  10 non-null     object
 4   Language     10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

## **Task 3**
Check the descriptive statistics of 'df'

In [3]:
df.describe()

             Age
count  10.000000
mean   29.600000
std     7.574812
min    19.000000
25%    25.500000
50%    28.500000
75%    31.750000
max    45.000000

## **Task 4**
Check the 4th index observation with 'loc' slicing operator.

In [4]:
df.loc[4]

Name              Emma
Age                 28
Gender               F
Nationality    Germany
Language        German
Name: 4, dtype: object

## **Task 5**
Check the null values in your 'df'

In [5]:
df.isnull().any()

Name           False
Age            False
Gender         False
Nationality    False
Language       False
dtype: bool

In [6]:
df.isnull().sum()

Name           0
Age            0
Gender         0
Nationality    0
Language       0
dtype: int64